.product-card {
  padding: 16px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  h3 {
    color: black;
  }
}

.product-card:hover {
  transform: scale(1.05);
}

.product-title {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.product-rating {
  font-size: 1.2rem;
  color: #f39c12;
}
